body{
    background-image: url("/img3.jpg");
    display:flex;
    flex-wrap: wrap;
    padding: 4px;
    width:100vw;
    height:100vh;
    background-attachment:fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}
#curr_date {

    font-size: 1.5em;
    color: whitesmoke;
    margin-bottom: 20px;
}

.calender-cell{
    /* margin-top: 40px; */
    width: 10vw;
    height: 10vh;
    cursor: pointer;
    
}
.calender{
    font-size: 30px;
    font-weight: bold;
    border: 2px solid rgb(228, 214, 133);
    border-radius: 20px;
}
.padding-bottom{
    padding-bottom: 20px;
}
.btn{
    color: whitesmoke !important;
}
.calender-day-cell{
    height:10vh;
    text-align: center;
    color: black;
    position: fixed;
    padding-left:1px !important;
    padding-right:1px !important;
}
.calender-day-cell-heading{
    background-color: blue;
    border-radius: 10px;
    border-spacing: 20px;
}
.calender-day-cell,.calender-month{
    border-bottom:1px solid black;
}
.calender-day-cell-holiday{
    color: darkgrey;
}
.calender-day-cell-holiday{
    color: dimgrey;
}
.event-calender-row{
    width:100%;
    display: inline-flex;
}
.event-calender-day-cell{
    width:14.857%
}
.calender-holiday{
    font-size: 10.5px;
    
}
.indian-holiday{
    border-radius: 19px;
    /* font-size:10px ; */
    background-color:rgb(180, 147, 185);
}
.dallas-holiday{
    border-radius: 15px;
    background-color:rgb(134, 191, 206);
}
.legend{
    margin-top: 10px;
    display: block;
    height: 25px;
    width: 25px;
    
}
.legend-row{
    display: inline-flex;

}
.legend-text{
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
}
