body{
    background-image: url("bg.jpg");display:flex;
    flex-wrap: wrap;
    padding: 4px;
    background-attachment:fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}
#curr_date {

    font-size: 1.5em;
    color: whitesmoke;
    margin-bottom: 20px;
}

.calender-cell{

    margin-top: 40px;
    height: 100px;
    cursor: pointer;
}
.calender{
    font-size: 30px;
    border: 2px solid red;
    border-radius: 10px;
}
.padding-bottom{
    padding-bottom: 20px;
}
.btn{
    color: whitesmoke !important;
}
.calender-day-cell{
    height:100px;
    color: black;
    font-size: 30px;
    padding-top: 5px;
    padding-left:1px !important;
    padding-right:1px !important;
}
.calender-day-cell-heading{
    font-size: 30px;
    background-color: blue;
    border-radius: 10px;
    border-spacing: 20px;
}
.calender-day-cell,.calender-month{
    font-size: 20px;
    border-bottom:1px solid black;
}
.calender-day-cell-holiday{
    color: darkgrey;
}
.calender-day-cell-holiday{
    color: dimgrey;
}
.event-calender-row{
    width:100%;
    display: inline-flex;
}
.event-calender-day-cell{
    width:14.857%
}
.calender-holiday{
    font-size: 10px;
    
}
.indian-holiday{
    border-radius: 15px;
    background-color:rgb(55, 221, 111);
}
.dallas-holiday{
    border-radius: 15px;
    background-color:rgb(31, 221, 246);
}
.legend{
    margin-top: 10px;
    display: block;
    height: 25px;
    width: 25px;
    
}
.legend-row{
    display: inline-flex;

}
.legend-text{
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
}

@media screen and (max-width: 1000px) {
  .calender-day-cell{
    height:300px;
    color: black;
    font-size: 50px;
    padding-top: 5px;
    padding-left:1px !important;
    padding-right:1px !important;
}
  }
